<div class="container", "relative">
	<div class="row-fluid">
		<h1><%= @question.query %></h1>

		
		<p>
			<%= @question.text %>
		</p>
		<h5>Add an answer:</h5>

		<h3>Answers</h3>
		<%= render @question.answers %>
		<%= render "answers/form" %>

		
		<!--must check the comment item-->

	</div>
</div>