<h1 class="margin-base-vertical"> Ever had a nagging question about campus?</h1>
<p>It's difficult to find the answers to all your questions.</p>
<p> Which classes do I take? Should I join this research lab? Any crazy hookup stories...?</p>
<p>But you want to know now. So join TigerAnswers. Ask. Answer. Learn.</p>
<button class="btn btn-success bt-lg"><%= link_to "Sign Up", new_user_registration_path %></button>