
<div class="container", "relative">
	<div class="row-fluid">
	</p>

	<p>
		<%= answer.answer %>
	</p>

	<h5><em>
		<%= answer.commenter %> posted 
		<% if answer.created_at > Time.now.beginning_of_day %>
		<%="#{time_ago_in_words(answer.created_at)} ago"%> 
		<% else %>
		<%= answer.created_at.strftime("%b %d, %Y") %> 
		<% end %>

	</em></h5>

	<h3>Add a comment:</h3>



</div>
</div>
<p>
	