
<div class="container", "relative">
	<div class="row-fluid">
	</p>

	<p>
		<%= answer.answer %>
	</p>

	<h5><em>
		<%= answer.commenter %> posted 
		<%= link_to "Answer comments", question_answer_path([@question, @answer]) %>

	</em></h5>

</div>
</div>
<p>
	