
<div class="container">
	<div class="row-fluid">
	</p>

	<p>
		<%= answer.answer %>
	</p>

	<h5><em>
		<%= answer.commenter %> posted 
		<%= link_to "Answer comments", question_answer_path(question_id: @question.id, id: answer.id) %>

	</em></h5>

</div>
</div>
<p>
	