<div class = "offset1">
<div class = "bottom-border-solid; box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.5)">
<h2><%= @answer.answer %></h2>
</div>


<%= render "comments/form"%>

<%= render @answer.comments %>

</div>
