<!DOCTYPE html>
<html>
<head>
	<title>Welcome to TigerAnswers</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	
			</head>
			<div class='wrapper'>
				<body>
					<%= yield %>

				</body>
			</div>
		</div>
		</html>

